$primary: #e82eb1;
$secondary: #d23b6c;
$accent: #e4227b;

$dark: #111111;
$dark-page: #191516;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

:root {
  // Backgrounds and surfaces
  --nory-bg: #f0ece4; /* Merino */
  --nory-surface: #ffffff; /* cards, panels, modals */

  //States and soft accents
  // - highlights, soft chips, badge backgrounds
  --nory-soft-pink: #ff9db6; /* Sweet Pink */
  --nory-blush: #fcebf3;
  --nory-pale-rose: #ffd9da;
  // - “important” or “premium” states
  --nory-rose: #eb638b;
  --nory-wine: #ac274f;

  //Text and hierarchy primary and secondary text, headers, labels
  --nory-ink-1: #382e31;
  --nory-ink-2: #191516;

  // Borders, dividers, and subtle shadows
  --nory-gray: #4a494d;
  --nory-onyx: #d7dcce;
}
